aiohttp
aria2p==0.9.1
hachoir
Pillow
Pyrogram
tgcrypto
youtube_dl
python-dotenv
beautifulsoup4>=4.8.2,<4.8.10
bs4
lxml
requests
messages
js2py
telegraph
numpy
bencode
cfscrape
cloudscraper
feedparser
heroku3
html-telegraph-poster
hurry.filesize
imdbpy
lk21
lxml
mediainfo
messages
natsort
Pillow
psutil
pyprog
python-telegram-bot
pybase64
speedtest-cli
tgcrypto
urllib3
yt-dlp

